@page
@model Pr1Lj2St1Fontys_webapp.Pages.DetailModel
@{
    ViewData["Title"] = "Event Detail";
}

<div class="container content-animation mt-5">

    <div class="event-details">
        <div class="text-content">
            <h1 class="">@Model.Event.Activiteit</h1>

            <h5><strong>Beschrijving:</strong></h5>
            <p>@Model.Event.Beschrijving</p>
            <h5><strong>Benodigdheden:</strong></h5>
			<p>@Model.Event.Benodigdheden</p>
            <h5><strong>Start:</strong></h5>
			<p>@Model.Event.StartDatumTijd</p>
            <h5><strong>Einde:</strong></h5>
			<p>@Model.Event.EindDatumTijd</p>
            <h5><strong>Locatie:</strong> </h5>
			<p>@Model.Event.Locatie</p>
            
            <div class="">
                <a class="btn-details" href="/overzicht">Terug naar het overzicht scherm</a>

            </div>
        </div>

        <div class="image-content">
            @if (!string.IsNullOrEmpty(Model.Event.AfbeeldingURL))
            {
                <div class="text-center mt-3">
                    <img src="@Model.Event.AfbeeldingURL" alt="Event Image" class="img-fluid rounded shadow" style="max-width: 50%; height: auto;" />
                </div>
            }
        </div>
    </div>
</div>
